.expenses {
  padding: 1rem;
  background-color: #0B2447;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
}

.expenses p {
  color: rgb(215, 215, 215);
  text-align: left;
  padding-left: 16px;
}
